body {
  font-family: "Lato", sans-serif;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

figure {
  padding: 0;
  margin: 0;
}

.header__container {
  text-align: center;
  padding: 20px;
}

.header__title {
  color: crimson;
  margin: 0 0 5px;
}

.header__logo {
  width: 200px;
}

.header__alura__logo {
  width: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

::placeholder {
  color: #191919;
}

.main__title {
  color: #fff;
  text-align: center;
}

.main__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main__add__url {
  padding: 3px;
  border-radius: 6px;
}

.main__button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.main__add__item {
  border-radius: 10px;
  background-color: crimson;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.main__options {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.main__options__title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.main__options__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.movie__card {
  text-align: center;
  width: 25%;
}

.movie__card__title {
  color: #fff;
  font-size: 20px;
}

.movie__card__poster {
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.5s;
  width: 200px;
}

.movie__card__poster:hover {
  transform: scale(1);
  opacity: 75%;
}

.main__movie__list {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.movie {
  text-align: center;
  width: 20%;
}

.movie__title {
  color: #fff;
  font-size: 20px;
}

.movie__poster {
  width: 250px;
}

footer {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 2rem;
}

.footer__link {
  transform: scale(0.9);
  transition: all ease 0.5s;
}

.footer__link:hover {
  transform: scale(1);
  opacity: 75%;
}

.disabled {
  display: none;
}
