/*Global Style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #000000;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/*Header style*/

.header__container {
  text-align: center;
  padding: 20px;
}

.header__title {
  color: crimson;
  margin: 0 0 5px;
}

.header__logo {
  width: 200px;
}

.header__alura__logo {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all ease 0.3s;
  width: 40px;
}

.header__alura__logo:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

/*Main style*/

::placeholder {
  color: #191919;
}

.main__title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.main__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main__add__url {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
}

.main__add__url:focus {
  outline: none;
}

.main__button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.button {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  transition: all ease 0.3s;
}

.button:hover {
  background-color: #fff;
  color: crimson;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.9);
}

/*Movie options style*/

.main__options {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.main__options__title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.main__options__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.movie__card {
  margin-bottom: 25px;
  text-align: center;
  width: 25%;
}

.movie__card__title {
  color: #fff;
  font-size: 20px;
}

.movie__card__poster {
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.5s;
  width: 200px;
}

.movie__card__poster:hover {
  transform: scale(1);
  opacity: 75%;
}

/*Choosen movies style*/

.main__movie__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 40px 0;
}

.movie {
  text-align: center;
  width: 20%;
}

.movie__title {
  color: #fff;
  font-size: 20px;
}

.movie__poster {
  width: 250px;
}

/*Error message style*/

.center {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main__error__message {
  align-items: center;
  background-color: #dddddd;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: space-around;
  height: 25%;
  position: absolute;
  width: 25%;
  z-index: 999;
}

.main__error {
  text-align: center;
}

/*Footer style*/

footer {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 2rem;
}

.footer__link {
  transform: scale(0.9);
  transition: all ease 0.5s;
}

.footer__link:hover {
  transform: scale(1);
  opacity: 75%;
}

.disabled {
  pointer-events: none;
  display: none;
}
